body{
    background-color: #373f43 !important ;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;

}

.card{
    width: 30vw;
}

.main-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373f43;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    color: white ;
    margin-bottom: -15px;
}

.question{
    padding-top: 12px;
    text-align: center;

}

.text-center{
    text-align: center;
}

.card-img-top{
    height: 50vh;
    object-fit: cover;
}

.answer-section{
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.answer-element{
    width: 12vw;
    height: 10vh;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
    text-align: center;
 
}

#questionBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 25vw;
    padding-bottom: 10px;
    padding-top: 10px;
  }

.d-none{
      display: none;
}

@media(max-width: 1500px) {
    .card{
        width: 35vw;
    }

    .question-footer {
        width: 30vw;
    }

    .answer-section{
        width: 30vw;
    }

    .answer-element{
        width: 14vw;
     
    }

}

@media(max-width: 1200px) {
    .card{
        width: 40vw;
    }

    .question-footer {
        width: 35vw;
    }

    .answer-section{
        width: 35vw;
    }

    .answer-element{
        width: 16vw;
     
    }

}

@media(max-width: 1000px) {
    .card{
        width: 50vw;
    }

    .question-footer {
        width: 45vw;
    }

    .answer-section{
        width: 45vw;
    }

    .answer-element{
        width: 20vw;
     
    }

}

@media(max-width: 800px) {
    .card{
        width: 60vw;
    }

    .question-footer {
        width: 55vw;
    }

    .answer-section{
        width: 55vw;
    }

    .answer-element{
        width: 25vw;
     
    }

}






@media(max-width: 700px) {
    .card{
        width: 70vw !important;
    }

    .question-footer {
        width: 65vw;
    }

    .answer-section{
        width: 65vw;
    }

    .answer-element{
        width: 30vw;
     
    }

}

@media(max-width: 600px) {
    .card{
        width: 80vw !important;
    }

    .question-footer {
        width: 75vw;
    }

    .answer-section{
        width: 75vw;
    }

    .answer-element{
        width: 35vw;
     
    }

}

@media(max-width: 500px) {
    .card{
        width: 90vw !important;
    }
    .question-footer {
        width: 85vw;
    }

    .answer-section{
        width: 85vw;
    }

    .answer-element{
        width: 40vw;
     
    }


}





  
